body{

margin:0;
font-family:Arial;
background:#070710;
overflow:hidden;
color:white;

}

#stars{

position:fixed;
width:100%;
height:100%;
background:url("https://i.imgur.com/Bm9X6vK.png");
animation:move 150s linear infinite;
opacity:.25;

}

@keyframes move{

from{

transform:translateY(0);

}

to{

transform:translateY(-2000px);

}

}

.sidebar{

position:fixed;
left:0;
top:0;
width:250px;
height:100%;
background:rgba(15,15,30,.8);
backdrop-filter:blur(12px);
padding:20px;

}

.sidebar h1{

text-align:center;
color:#7d6cff;

}

.sidebar button{

width:100%;
padding:15px;
margin-top:10px;
background:#6a4cff;
border:none;
color:white;
border-radius:12px;
cursor:pointer;
transition:.3s;

}

.sidebar button:hover{

transform:scale(1.05);

}

.main{

margin-left:280px;
padding:40px;

}

.cards{

display:grid;
grid-template-columns:repeat(2,250px);
gap:30px;

}

.card{

background:rgba(255,255,255,.08);
border:1px solid rgba(255,255,255,.15);
backdrop-filter:blur(15px);
border-radius:20px;
padding:25px;
box-shadow:0 0 20px #6a4cff55;

}

.card h3{

margin:0;

}

.card p{

font-size:35px;
margin-top:20px;
color:#8cb6ff;

}